{% extends "base.html" %}
{% block title %}Настройка нового пароля{% endblock %}
{% block content %}
    {% if validlink %}
    <div class="container">
        <h3 class="text-center"> Пожалуйста, введите ваш новый пароль дважды.</h3>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">

                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                   {% for field in form %}
                        <p class="confirm-p">
                          {{ field.label_tag }}<br>
                            {% for error in field.errors %}
                                <p class="register-error">{{ error }}</p>
                          {% endfor %}
                          {{ field }}
                          {% if field.help_text %}
                          <span class="help-text-register">{{ field.help_text }}</span>
                          {% endif %}
                        </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Изменить пароль</button>
                </form>

                {% else %}
                    <h1 class="text-center">Сброс пароля не выполнен</h1>
                    <p class="text-center">Ссылка для сброса пароля была недействительной,возможно, потому что это уже использовалось. Пожалуйста, запросите новый пароль для сброса.</p>            
        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}