{% extends 'base.html' %}
{% load static %}
{% block title %}Изменение пароля{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center">Изменение пароля</h1>
    <div class="col-lg-6 col-lg-offset-3">
        {% if  user.is_authenticated %}
         <form method="post" action="{% url 'password_change'%}">
            {% csrf_token %}
            {% for field in form %}
            <p class="p-reset-form">
              {{ field.label_tag }}<br>
                {% for error in field.errors %}
              <p class="register-error">{{ error }}</p>
              {% endfor %}
              {{ field }}
              {% if field.help_text %}
              <span class="help-text-register">{{ field.help_text }}</span>
              {% endif %}
            </p>
            {% endfor %}
            <button type="submit" class="btn btn-success btn-reset-form">Сохранить изменения</button>
        </form>
    </div>
</div>
{% else %}
<h1 class="text-center">Вы не авторизованы!</h1>
{% endif %}
{% endblock %}