{% load static %}
<footer class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 foot-l">
                <DIV ID = "toTop" > ^ Наверх </DIV >
                <p>
                <strong>Electronics</strong>
                </p>
                <p class="foot-addres">© Electronics 2020</p>
            </div>
            <div class="col-lg-3 foot-l">
                <h3 class="mod-title">Категории</h3>
                <ul class="menu">
                     <li><a href="/phones/">Телефоны</a></li>
                    <li><a href="/laptops/">Ноутбуки</a></li>
                </ul>
            </div>

            <div class="col-lg-3  foot-l">
                <span>
                    <h3 class="mod-title">Контакты</h3>
                    <a >8-910-449-79-02</a><br/>
                    <a href="mailto:sale@Electronics.ru" rel="nofollow">sale@Electronics.ru</a><br/>
                </span>

            </div>

            <div class="col-lg-3 foot-l">
                <h3 class="mod-title">Мы в соц.сетях</h3>
                <a rel="nofollow" ><img src="{% static 'image/VKontakte-small.png' %}" alt="Vk"/></a><br/>
                <a rel="nofollow" ><img src="{% static 'image/Instagram.png' %}" alt="Inst"/></a>
            </div>

        </div>

    </div>
</footer>



        <!--<div class="text">-->
            <!--&lt;!&ndash;<a href="#"><i class="fa fa-facebook"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#"><i class="fa fa-twitter"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#"><i class="fa fa-linkedin"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#"><i class="fa fa-google-plus"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#"><i class="fa fa-skype"></i></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>FOOTER</h3>&ndash;&gt;-->
        <!--</div>-->